

<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="font-size:19px ;" class="heading">Employee Information</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Employee
      </button>
    </div>
  </div>
</nav>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Home Address</th>
      <th scope="col">Office Address</th>
      <th scope="col">Action</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>sri</td>
      <td>25-02-1999</td>
      <td>99086753788</td>
      <td>sri123@gmail.com</td>
      <td>Hyderabad,hitech city,500025</td>
      <td>Nankramguda,waverock ,2.1</td>
      <td><button class="btn btn-info">Edit</button>
        <button class="btn btn-danger mx-3">Delete</button></td>
      

    
    </tr>
  </tbody>
</table>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
            <input type="text"  formControlName="datefBirth" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile</label>
            <input type="text" formControlName="Mobile" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" formControlName="email"  class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Home Address</label>
            <input type="text" formControlName="homeAddress" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Office Address</label>
            <input type="text" formControlName="officeAddress" class="form-control" id="exampleInputPassword1">
          </div>

         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add changes</button>
      </div>
    </div>
  </div>
</div>